{% extends 'base.html.twig' %}
{% block body %}
    <ul>
    {% for user in users %}
            <li> Name: {{user.name}}</li>
        <li> Password: {{user.password}}</li>
    {% endfor %}
    </ul>
{% endblock %}