{% extends 'base.html.twig' %}
{% block body %}
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
       <div class="text-center">
           <h3>My Symfony 4 sample project</h3>
           <div class="jumbotron text-center">
        {{ controller_name }}
               </div>
    <h1>Editing user {{user_name}}</h1>

    <div id="user-edit-app">

    </div>
       </div>

    <script type="text/javascript" >

        new Vue({
            el: '#user-edit-app',
            data: {
                username: ''
            },
            template: '<form action="/user/register" method="post">' +
            '<input type="text" name="name" v-on:change="change" v-model="username" placeholder="Name" ><br/>' +
            '<input type="password" name="password" v-model="userpassword" placeholder="Password" >'+
            '<span style="display: block;">How cool is your name: {{'{{coolness}}'}}</span>' +
            '<button type="button" v-on:click="login"> Login </button>' +
            '<button type="submit" v-on:click="sing_in" > Sing in </button>'+
            '</form>',
            computed: {
                coolness: function() {
                    switch(this.username.toLowerCase()) {
                        case 'nehalist':
                        case 'kevin':
                            return 'Pretty cool';
                        case 'bob':
                            return 'Awesome!';
                        case 'ajit pai':
                            return 'Terrible';
                        default:
                            return 'Not cool';
                    }
                }
            },
            methods: {
                login: function() {
                    axios.post('/user/exist',{
                            name:this.name,
                            password:this.password
                        })
                        .then(function (response) {
                            console.log(response);
                        })
                        .catch(function (error) {
                            console.log(error)
                        })
                },
                change:function () {

                }
            }
        });

    </script>

{% endblock %}